{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ ship.title }}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
</head>
<body>

  <!-- Header с иконкой "дом" -->
  <header class="header">
    <div class="home-icon home-button">
      <a href="{% url 'home' %}">
        <img src="http://127.0.0.1:9000/image/home.png" alt="Home">
      </a>
    </div>
  </header>

  <div class="ship-detail-container">
    <div class="ship-card">
      <!-- Заголовок внутри ship-card, над изображением и выровнен влево -->
      <h1 class="ship-title">{{ ship.title }}</h1>
      
      <div class="ship-image-info">
        <img src="{{ ship.image }}" alt="{{ ship.title }}" class="ship-image">
        <div class="ship-info">
          <p> {{ ship.description }}</p>
          <p>Год изготовления: {{ ship.year }}</p>
          <p>Длина: {{ ship.length }} м</p>
          <p>Двигатель: {{ ship.engine }}</p>
        </div>
      </div>
      
    </div>
  </div>

</body>
</html>
