body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.delete-draft-lecture-btn {
    padding: 10px 20px;
    background-color: #dc3545; /* Красный цвет */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.delete-draft-lecture-btn:hover {
    background-color: #c82333; /* Более тёмный красный при наведении */
}

.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Чтобы занимать всю ширину родителя */
    margin-top: 10px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D6AAD;
    padding: 19px 20px;
    color: white;
}

.home-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.home-button img {
    height: 19px;
}

.button-group {
    display: flex;
    gap: 10px; /* Отступ между кнопками */
    margin-top: 10px; /* Отступ сверху для разделения от текста */
}

.request-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: none; 
}

.input-group {
    margin-bottom: 15px;
  }
  
.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    max-width: none;
}

.submit-button {
    padding: 10px 20px;
    background-color: #0D6AAD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.ship-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ship-card {
    display: flex;
    background-color: #F1F1F1;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
    width: 70%;
    max-width: 700px;
}

.ship-image {
    max-width: 200px;
    margin-right: 20px;
}

.ship-info {
    flex: 1;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
}

.ship-info h3 {
    margin: 0 0 10px;
    font-size: 24px;
}

.ship-info p {
    margin: 0;
    font-size: 16px;
    color: #555;
}

.comment-group {
    margin-top: 10px;
}

.comment-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

.comment-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.details-button {
    padding: 10px 20px;
    background-color: #0D6AAD;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 10px;
}

.details-button:hover {
    background-color: #0056b3;
}